.product-details {
  text-align: center;
}

.product-details img {
  width: 300px;
  height: auto;
  margin-bottom: 20px;
}

.product-details h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-details p {
  font-size: 16px;
  color: var(--dark-gray-2);
}
